.custom-text {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 120px;
}

a {
    color: #FECB59;
    font-weight: bold;
    text-decoration: none;
}

.footer-green {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #429540;
    text-align: center;
}

.footer-red {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #D74742;
    text-align: center;
}

html,
body {
    font-family: Helvetica Neue, Helvetica, Arial, Sans;
    color: white;
    height: 100%;
    margin: 0;
}

.aligner {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.aligner-item {
    flex: 1;
}

.red-bg {
    background-color: #FF5349;
}

.green-bg {
    background-color: #50B948;
}

.red-btn {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #D74742;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.red-btn:hover {
    background: #ff8985;
    text-decoration: none;
}

.green-btn {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background:  #429540;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.green-btn:hover {
    background: #89ff85;
    text-decoration: none;
}
